* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: white; */
}
body {
    font-family: 'Space Grotesk', sans-serif;
    background:linear-gradient(white,rgb(223, 12, 12),rgb(28, 18, 218));
    padding-top: 80px;
}
h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 30px 0px;
}
img {
    width: 320px;
    height: 340px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15%;
    height: 70px;
    top: 0;
    position: fixed;
    width: 100%;
}
.scroll{
    background-color: aliceblue;
    box-shadow: .1rem .2rem .3rem #333;
}
.scroll img{
    filter: invert(15%);
}           
.scroll h1{
    color: #141C29;
}
.carrito{
    filter: invert(100%);
    width: 45px;
    height: auto;
}
.contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 20px;
}
.contenedor>div{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: #2D4263;
    border-radius: 20px;
}
.contenedor>div:hover{
    background-color: #11294d;
}

.informacion{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:15px;
}
.informacion>p:first-child{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 300;
}
.informacion .precio {
    font-size: 20px;
    font-weight: 500;
}
.informacion .precio span{
    font-size: 17px;
    font-weight: 300;
}
.informacion button{
    background-color: #263143;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    border: none;

    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
}
.informacion button:hover{
    background-color: #2D4263;
}

/* CSS hambuergueza */

#listaHam{
    display: none;
    
  }
  
  input:checked  ~#listaHam {
    display:block;
  }
  
  input {
    display: none;
  }
  
  label {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
    position:fixed;
    z-index:19;
    margin-top:10px;
  }
  
  /* Estilo del boton cuando se pasa el mouse por encima*/
  label:hover{
    background: red;
  }
  
  /* Estilo del boton cuando el menú está expandido*/
  input:checked ~ label {
    background-color:#3C6; 
  }
  
  #listaHam{
      position:fixed
    margin-top:10px;
    padding: 30px;
    width: 200px;
    height:50px;
    z-index:19;
  
  }
  #listaHam a{
      color: #000;
      text-decoration:none;
  }
  .Hamburguesa{
      margin-top:0px;
  position:fixed;
  z-index:19;
   }
  #listaHam li {
    display: block;
    background-color:#36C;
    margin: 0;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid grey;
    height:35px;
    width: 250px;
    font-size:22px;
  }
  
  /Estilo cuando el mouse pasa encima de cada link del menu/
  #listaHam li:hover {
      background-color:#999;
        filter: brightness(110%);
    
  }
  
